<div id="lampSceneDiv" name="lampSceneDiv" class="palm-scene" style="padding-top: 50px; height:100%; background-color: black;">
    <div id="lampsDiv" name="lampsDiv">
        <table id="lampsTable" name="lampsTable" border="0" width="100%" style="border: 0px solid dimgray;">
            <tr>
                <td valign="top" class="lampTD" id="tdLampOne" title="LampOne" align="center" style="justify-content: center;">
                    <img src="images/Lamp-Unknown-64.png" id="imgLampOne" title="LampOne">
                    <div class="lampLabel" id="divLampOne" title="LampOne" style="justify-content: center;">Lamp 1</div>
                </td>
                <td valign="top">
                    <div align="center" id="textControlsDiv">
                        <p id="txtAllOn" class="multiLampLabel">All On<br>
                            <img src="images/LineSeparatorInverted.png" style="margin-top:10px;"></p>
                        <p id="txtAllOff" class="multiLampLabel">All Off<br>
                            <img src="images/LineSeparatorInverted.png" style="margin-top:10px;"></p>
                        <p id="txtDimmer" class="multiLampLabel">Dimmer</p>
                    </div>
                </td>
                <td valign="top" class="lampTD" id="tdLampTwo" title="LampTwo" align="center" style="justify-content: center;">
                    <img src="images/Lamp-Unknown-64.png" id="imgLampTwo" title="LampTwo">
                    <div class="lampLabel" id="divLampTwo" title="LampTwo" style="justify-content: center;">Lamp 2</div>
                </td>
            </tr>
        </table>
        <div x-mojo-element="Slider" id='slideBright' class="palm-slider" title="lightBright" style="margin-top: 33px; margin-left: 90px;"></div>
    </div>
</div>