#clock {
    height: 100%;
    font-size: 84px;
    text-align: center;
    margin: auto;
    margin-top: 15%;
    padding: 20px;
}

#lamps {
    height: 100%;
    font-size: 24px;
    text-align: center;
    margin: auto;
    margin-top: 8%;
    padding: 10px;
}

.lampTD {
    padding-top: 34px;
}

.lampLabel {
    font-size: 20px;
    line-height: normal;
    margin-bottom: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
}

.multiLampLabel {
    font-size: 22px;
    line-height: 23px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    white-space: nowrap;
}

#huebridge {
    text-align: center;
    margin: auto;
}

.black-command-menu {
    background-color: black;
}

.icon.lightbulb {
    width: 24px;
    height: 48px;
    float: right;
    margin-right: 8px;
}

.icon.lightbulb.true {
    background: url(../images/hueColor.png) center left no-repeat;
}

.icon.lightbulb.false {
    background: url(../images/hueWhite.png) center left no-repeat;
}

.checkmark {
    float: right;
    height: 48px;
    display: none;
}

.checkmark.true {
    display: inline-block;
}

.emptydisplay {
    display: none;
}

.emptydisplay.true {
    display: block;
}

.hueerror {
    margin-top: -8px;
    min-height: 55px;
}